{%extends "base.html"%}
{%block content%}
{% if name %}
    Welcome {{name}}
{% endif %}

<div class="form-group">
    <label for="search">Search</label>
    <input type="search" class="form-control" id="sc" name="sc" placeholder="Enter city" required>
    <input type="search" class="form-control" id="airport" name="airport" placeholder="Enter airport" required>
</div>

{% if flights %}
    {% for flight in flights %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Flight {{flight.flight_number}}</h5>
                <h5 class="card-title">{{flight.departure_airport_code}} to {{flight.arrival_airport_code}}</h5>
                <h7 class="card-subtitle mb-2 text-muted">{{flight.departure_date}} | {{flight.departure_time}} - {{flight.arrival_date}} | {{flight.arrival_time}}</h6>
                <p class="card-text">Price: {{flight.base_price}}</p>

            </div>
        </div>
    {% endfor %}
{% endif %}


{%endblock%}