{%extends "base.html"%}
{%block content%}
Homepage
{% if name %}
    Welcome {{name}}
{% endif %}

{% if flights %}
    {% for flight in flights %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Flight {{flight.flight_number}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{flight.departure_date}} | {{flight.departure_time}} - {{flight.arrival_date}} | {{flight.arrival_time}}</h6>
                <p class="card-text">Price: {{flight.base_price}}</p>

            </div>
        </div>
    {% endfor %}
{% endif %}


{%endblock%}