{%extends "base.html"%}
{%block content%}
{% if session %}
    Welcome {{session.first_name}} {{session.last_name}}
{% endif %}

<div class = "card">
    <div class="card-body">
        <div class="col">
            <a href="staffflight" class="button"> Flights</a>
        </div>
        <div class="col">
            <a href="staffinfra" class="button"> Infrastructure</a>
        </div>
        <div class="col">
            <a href="staffrevenue" class="button"> Revenue</a>
        </div>
    </div>
</div>
{%endblock%}