{%extends "base.html"%}
{%block content%}
<a href="/staffairplane" class="btn btn-primary">Add new airplane</a>
    {% if airplanes %}
    {% for airplane in airplanes %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{airplane.airline_name}} #{{airplane.identification_number}}</h4>
                <h6 class="card-title">Capacity: {{airplane.seat_count}}</h6>
                <h6 class="card-title">Manufacturer: {{airplane.manufacturer}}</h6>
                <h6 class="card-title">Manufactured On: {{airplane.manufacture_date}}</h6>
            </div>
        </div>
    {% endfor %}
    {% endif %}
{%endblock%}